/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* COLORS */
$background-color: #140A29;
$heading-color: #231147;
$header-paragraph-color: #FFFFFFCC;
$paragraph-color: #AAA;
$accent-color: #DAA520;

html {
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: white;

  a {
    text-decoration: none;
    color: inherit;
    &:hover {
      opacity: 0.8;
    }
  }

  li {
    list-style: none;
  }
}

header {
  // padding: 0 20% 50% 20%;
  padding: 0 5% 50% 5%;
  background: $background-color;

  .header-content {
    margin-top: 15%;
    h1 {
      font-size: 4rem;
      span {
        color: $accent-color;
      }
    }
    h1, p {
      margin: 0;
    }
    p {
      color: $header-paragraph-color;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    font-size: 0.9rem;
    font-weight: bold;

    li {
      display: inline;
      list-style: none;
      margin-left: 1rem;

      &:first-child {
        border-bottom: 3px solid $accent-color;
        padding-bottom: 0.5rem;
      }
    }
  }
}

#projects {
  padding-top: 5%;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;

  h1 {
    font-size: 2.25rem;
    color: $heading-color;
    text-transform: uppercase;
    border-bottom: 5px solid $accent-color;
    padding-bottom: 0.5rem;
  }

  .project {
    display: grid;
    grid-template-areas:
    'project-image project-title'
    'project-image project-description';
    width: 100%;
    padding: 3%;

    img {
      grid-area: project-image;
      justify-self: flex-end;
      width: 20rem;
    }

    h2 {
      grid-area: project-title;
      align-self: flex-end;
      margin-bottom: 0.25rem;
      padding-left: 10%;
      color: $heading-color;
    }

    p {
      grid-area: project-description;
      color: $paragraph-color;
      padding-left: 10%;
      max-width: 50%;
    }
  }
}

#contact {
  margin-top: 5%;
  padding: 5% 20%;
  background: $background-color;

  ul {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    font-size: 2.5rem;
  }
}

footer {
  display: grid;
  place-items: center;
  height: 2.5%;
  background: $background-color;
  font-size: 0.75rem;
}


@media screen and (min-width: 321px) {
  header {
    .header-content {
      h1 {
        font-size: 6rem;
      }
    }
  }
}
