@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  a {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style: none;
  }
}

header {
  padding: 0 20% 10% 20%;
  background: #140A29;
  color: #FFF;

  .header-content {
    margin-top: 15%;
    h1 {
      font-size: 4rem;
      span {
        color: goldenrod;
      }
    }
    h1, p {
      margin: 0;
    }
    p {
      color: #FFFFFFCC;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 5% 0;
    font-size: 0.9rem;
    font-weight: bold;

    li {
      display: inline;
      list-style: none;
      margin-left: 1rem;

      &:first-child {
        border-bottom: 3px solid goldenrod;
        padding-bottom: 0.5rem;
      }
    }
  }
}

#projects {
  padding-top: 5%;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  h1 {
    font-size: 2.25rem;
    color: #231147;
    text-transform: uppercase;
    border-bottom: 5px solid goldenrod;
    padding-bottom: 0.5rem;
  }
  .project {
    display: grid;
    grid-template-areas:
    'project-image project-title'
    'project-image project-description';
    width: 100%;
    padding: 3%;

    img {
      grid-area: project-image;
      justify-self: flex-end;
      width: 20rem;
    }

    h2 {
      grid-area: project-title;
      align-self: flex-end;
      margin-bottom: 0.25rem;
      padding-left: 10%;
      color: #231147;
    }

    p {
      grid-area: project-description;
      color: #555;
      padding-left: 10%;
      max-width: 50%;
    }
  }
}

#contact {
  margin-top: 5%;
  padding: 5% 20%;
  background: #140A29;
  color: #FFF;
  ul {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    font-size: 2.5rem;
  }
}

footer {
  display: grid;
  place-items: center;
  height: 2.5%;
  background: #140A29;
  font-size: 0.75rem;
  color: #FFF;
}
