/* IMPORTS */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
/* COLORS */
html {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  overflow-x: hidden;
  width: 100%;
}
body a {
  text-decoration: none;
  color: inherit;
}
body a:hover {
  opacity: 0.8;
}
body li {
  list-style: none;
}

header {
  display: grid;
  padding: 0 5% 50% 5%;
  background: #140a29;
}
header .brand img {
  height: 5rem;
}
header .header-content {
  margin-top: 15%;
}
header .header-content h1 {
  font-size: 4rem;
}
header .header-content h1 span {
  color: #daa520;
}
header .header-content h1,
header .header-content p {
  margin: 0 auto;
}
header .header-content p {
  color: #ffffffcc;
}
header nav {
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
  font-size: 0.7rem;
  font-weight: bold;
}
header nav li {
  display: inline;
  list-style: none;
  margin-right: 0.25rem;
}
header nav li:first-child {
  border-bottom: 3px solid #daa520;
  padding-bottom: 0.5rem;
}

#projects {
  padding-top: 5%;
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-gap: 2.5%;
}
#projects h1 {
  font-size: 1.5rem;
  color: #231147;
  text-transform: uppercase;
  border-bottom: 5px solid #daa520;
  padding-bottom: 0.5rem;
}
#projects .project {
  display: grid;
  grid-template-areas: "project-image project-title" "project-description project-description";
  justify-items: center;
}
#projects .project img {
  grid-area: project-image;
  place-self: center flex-start;
  width: 5rem;
}
#projects .project h2 {
  grid-area: project-title;
  place-self: center flex-start;
  justify-self: flex-start;
  margin-bottom: 0.25rem;
  color: #231147;
}
#projects .project p {
  grid-area: project-description;
  padding: 0 5%;
  color: #aaa;
  text-align: center;
}

#contact {
  width: 100%;
  margin-top: 5%;
  background: #140a29;
  display: grid;
}
#contact ul {
  padding: 0;
  width: 66%;
  display: grid;
  justify-items: center;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 2.5rem;
}

@media screen and (min-width: 321px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  header {
    width: 100%;
    padding-bottom: 50%;
  }
  header nav {
    font-size: 1rem;
  }
  header nav li {
    margin-right: 1.5rem;
  }
  header .header-content {
    max-width: 66%;
  }

  .container {
    width: 80%;
    justify-self: center;
  }

  #projects {
    padding: 0 10% 10% 10%;
  }
  #projects h1 {
    font-size: 2.75rem;
  }
  #projects .project {
    width: 100%;
    grid-template-areas: "project-image project-title" "project-image project-description";
  }
  #projects .project img {
    width: 15rem;
  }
  #projects .project h2 {
    place-self: flex-end flex-start;
    padding: 0 5%;
  }
  #projects .project p {
    text-align: left;
  }
}
@media screen and (min-width: 1366px) {
  html {
    font-size: 24px;
  }

  header {
    width: 100%;
    padding-bottom: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
